@{
    ViewBag.Title = "Página Inicial";
}

<h2>Página Inicial</h2>

<p>Selecione uma opção:</p>

<ul>
    <li>@Html.ActionLink("Gerar 15 números", "Gerar15Numeros")</li>
    <li>@Html.ActionLink("Gerar 16 números", "Gerar16Numeros")</li>
    <li>@Html.ActionLink("Gerar 17 números", "Gerar17Numeros")</li>
</ul>
